# Appwrite
EXPO_PUBLIC_APPWRITE_PROJECT_ID=
EXPO_PUBLIC_APPWRITE_ENDPOINT=
EXPO_PUBLIC_APPWRITE_PLATFORM=
EXPO_PUBLIC_APPWRITE_DATABASE_ID=
EXPO_PUBLIC_APPWRITE_BUCKET_ID=
EXPO_PUBLIC_APPWRITE_USER_COLLECTION_ID=
EXPO_PUBLIC_APPWRITE_CATEGORIES_COLLECTION_ID=
EXPO_PUBLIC_APPWRITE_MENU_COLLECTION_ID=
EXPO_PUBLIC_APPWRITE_CUSTOMIZATIONS_COLLECTION_ID=
EXPO_PUBLIC_APPWRITE_MENU_CUSTOMIZATION_COLLECTION_ID=
EXPO_PUBLIC_APPWRITE_ORDERS_COLLECTION_ID=

# Sentry
EXPO_PUBLIC_SENTRY_DSN=
EXPO_PUBLIC_SENTRY_URL=
EXPO_PUBLIC_SENTRY_PROJECT=
EXPO_PUBLIC_SENTRY_ORGANIZATION=
